@tailwind base;
@tailwind components;

html, body {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    @apply pt-4;
}

.title {
    @apply text-2xl font-light mb-2;
}

a {
    @apply text-indigo-600;
}

a:hover {
    @apply underline;
}

.container {
    @apply mx-auto max-w-2xl bg-white rounded px-2 py-1 shadow-sm;
}

input[type="text"],
input[type="email"],
textarea {
    background-color: #f0f0f0;
    @apply rounded px-2 py-1;
}

.button,
button {
    @apply inline-block bg-indigo-400 rounded px-2 py-1 text-white;
}

.button:hover,
button:hover {
    @apply bg-indigo-500 no-underline;
}

table th {
    @apply font-semibold;
}

table th,
table td {
    border-width: 1px;
    @apply px-1 py-0.5;
}

@tailwind utilities;