{% extends 'layout.html.twig' %}

{% block body %}
<div class="container relative">
    <a href="{{ path('home') }}" title="Volver a home"
        class="bg-blue-500 rounded absolute top-2 -left-7">
        <img class="w-5 h-3 inline align-baseline" src="{{ asset('svg/left-chevron.svg') }}" />
    </a>
    <h1 class="title">Editar cliente</h1>

    {% for message in app.flashes('notice') %}
        <p style="background-color:#51d255" class="text-center mb-2 text-sm py-1">
            {{ message }}
        </p>
    {% endfor %}


    {% include 'partials/customer-form.html.twig' %}

    <div class="my-2">
        <a class="mx-2" href="{{ path('home') }}">Volver</a>
    </div>
</div>
{% endblock %}