{% extends 'layout.html.twig' %}

{% block body %}
<div class="container relative">
    <a href="{{ path('home') }}" title="Volver a home"
        class="bg-blue-500 rounded absolute top-2 -left-7">
        <img class="w-5 h-3 inline align-baseline" src="{{ asset('svg/left-chevron.svg') }}" />
    </a>
    <h1 class="title">Crear nuevo cliente</h1>

    {% include 'partials/customer-form.html.twig' %}
</div>
{% endblock %}