<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Brandlive Tech Test!{% endblock %}</title>
        <link href="/public/css/style.css" />
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
